html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
a img {
  border: 0;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
body {
  font-family: consolas, monaco, 'courier new', monospace;
  color: #222;
  font-size: 10px;
}
.configurator .wrapper {
  font-size: 12px;
}
.editor .wrapper .layer-0 {
  display: block!important;
}
input,
textarea,
select,
button {
  font-family: consolas, monaco, 'courier new', monospace;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0;
}
input,
textarea {
  background: #eee;
  border: 1px solid #888;
  padding: 4px;
}
button {
  float: left;
  padding: 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 1px 10px 1px 0;
  color: #fff;
}
select {
  float: left;
  padding: 3px 4px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 #fafafa;
  border-radius: 3px;
  margin: 1px 10px 1px 0;
  color: #000;
  background-color: #fff;
}
button[disabled] {
  opacity: 0.4;
}
button:active {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  margin: 2px 10px 0 0;
}
big {
  font-size: 1.5em;
}
.shortcuts {
  text-align: center;
  margin: 0 40px 40px 40px;
  font-size: 1em;
  text-shadow: 0 1px #fff;
  color: #444;
  font-size: 1.1em;
}
.shortcuts span {
  display: block;
  margin: 0;
  height: 26px;
  line-height: 28px;
  overflow: hidden;
  margin: 0 7px 7px 0;
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.shortcuts span:hover {
  background-color: #ffc;
}
.shortcuts big {
  font-size: 1em;
}
.shortcuts .group {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.shortcuts .group:last-child {
  margin: 0;
}
.shortcuts li {
  display: block;
  float: left;
  width: 60px;
}
.shortcuts .title {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  color: #d00;
}
.button-read {
  background: #3FB10E;
}
.button-write {
  background: #D73600;
}
.button-cancel {
  background: #999;
}
.cover {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.popup {
  position: fixed;
  z-index: 10001;
  top: 50%;
  left: 50%;
  margin: -240px 0 0 -320px;
  width: 640px;
  height: 480px;
  background: #fff;
  text-align: center;
  padding: 20px;
  border: 1px solid #444;
}
.popup h1 {
  font-size: 2.6em;
  margin-bottom: 10px;
}
.popup textarea {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
}
nav {
  background: #ddd;
  padding: 10px;
}
.stage {
  position: relative;
  background: #72b0df url('../img/bg-grid-dark.png');
  width: 960px;
  height: 320px;
  margin: 20px auto;
  outline: 4px solid #ddd;
}
.container {
  position: relative;
  background: #eee;
  width: 960px;
  height: 320px;
  margin: -9999px auto 30px auto;
  overflow: hidden;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container.layer-0 .layer-0,
.container.layer-1 .layer-1,
.container.layer-2 .layer-2,
.container.layer-3 .layer-3,
.container.layer-4 .layer-4,
.container.layer-5 .layer-5,
.container.layer-6 .layer-6,
.container.layer-7 .layer-7 {
  display: block!important;
}
.tabs {
  display: block;
  width: 780px;
  margin: 30px auto 0 auto;
  height: 35px;
}
.tabs li {
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  padding: 0 10px;
  margin-right: 2px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  border-top: 3px solid #fff;
}
.tabs .tab-layer-0 {
  background-color: #eee;
}
.tabs .tab-layer-0.selected {
  border-color: #eee;
}
.tabs .tab-layer-1 {
  background-color: #93D2F4;
}
.tabs .tab-layer-1.selected {
  border-color: #93D2F4;
}
.tabs .tab-layer-2 {
  background-color: #8EEBC9;
}
.tabs .tab-layer-2.selected {
  border-color: #8EEBC9;
}
.tabs .tab-layer-3 {
  background-color: #C6F493;
}
.tabs .tab-layer-3.selected {
  border-color: #C6F493;
}
.tabs .tab-layer-4 {
  background-color: #F4E393;
}
.tabs .tab-layer-4.selected {
  border-color: #F4E393;
}
.tabs .tab-layer-5 {
  background-color: #F4B993;
}
.tabs .tab-layer-5.selected {
  border-color: #F4B993;
}
.tabs .tab-layer-6 {
  background-color: #F4AEDC;
}
.tabs .tab-layer-6.selected {
  border-color: #F4AEDC;
}
.tabs .tab-layer-7 {
  background-color: #AEB2F4;
}
.tabs .tab-layer-7.selected {
  border-color: #AEB2F4;
}
.keyboard {
  position: relative;
  width: 100%;
  height: 100%;
}
.key {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.key.selected {
  background: #e00;
  border-radius: 4px;
  z-index: 9999;
}
.key.selected .cap {
  background-color: #e9e9e9;
}
.key.selected .resize-ew,
.key.selected .resize-ns {
  cursor: default;
}
.key .cap {
  position: absolute;
  z-index: 10;
  left: 2px;
  bottom: 2px;
  right: 2px;
  top: 2px;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 75%);
  background-color: #e7e7e7;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 #cccccc, inset 0 -4px 0 #cfcfcf, inset 0 1px 0 #f9f9f9, 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.key .label {
  position: absolute;
  width: 100%;
  z-index: 15;
  pointer-events: none;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  display: none;
}
.key .label.layer-0 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.key .label.layer-1 {
  color: #005D90;
  top: 5px;
}
.key .label.layer-2 {
  bottom: 5px;
  color: #008353;
}
.key .label.layer-3 {
  color: #4A8C00;
  top: 5px;
}
.key .label.layer-4 {
  color: #9B7F00;
  bottom: 5px;
}
.key .label.layer-5 {
  color: #8F3700;
  top: 5px;
}
.key .label.layer-6 {
  color: #900060;
  bottom: 5px;
}
.key .label.layer-7 {
  color: #000A97;
  top: 5px;
}
.key .resize-ew {
  position: absolute;
  z-index: 100;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: ew-resize;
}
.key .resize-ns {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  cursor: ns-resize;
}
.floatright {
  float: right;
}
